<html>
<body>
<center><h1>ABC Super Market</h1></center><br>
<center><h2>Add Stocks</h2></center><br>
<center>
<form action="/Add">
<center>Select Item Name to Add to Stock :
<select name="item">
<option value="battery">Battery</option>
<option value="earbuds">Ear Buds</option>
<option value="giftarticles">Gift Articles</option>
<option value="groundnut">Ground Nut</option>
<option value="mug">Mug</option>
<option value="oil">Oil</option>
<option value="paste">Paste</option>
<option value="rice">Rice</option>
<option value="soap">Soap</option>
<option value="toiletcleaner">Toilet Cleaner</option>  
</select></center>
<br>
<center>Select Quantity to Add to Stock
<select name="qty">
<option value="5">5</option>
<option value="10">10</option>
<option value="20">20</option>
<option value="50">50</option>
</select></center>
<br>
<input type="submit" value="Add to Stocks"><br>
</form></center>
</body>
</html>
