<html>
<body>
<center>
<h1>ABC Super Market</h1><br></center>
<center><h2>Admin</h2></center>
<center><button type="button"><br>
<p><a href="/Admin/Purchase">Purchase Stocks</a></p>
</button></center><br>
<center><button type="button">
<p><a href="/Admin/ViewStock">View Stocks Left</a></p>
</button></center><br>
<center>
<button type="button">
<p><a href="/Admin/AddStock">Add Stocks</a></p>
</button>
</center><br>
<center>
<button type="button">
<p><a href="/Income">Income Recieved</a></p>
</button>
</center><br>
<center>
<button type="button">
<p><a href="/">Main Menu</a></p>
</button>
</center>
</body>
</html>
